{% extends "layout.html" %}

{% block page_title %}
  legal
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="box-highlight">
    <div class="box-highlight__title">Accessibility: requirements, background and approach</div>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/prototype01/">Content</a></li>
      <li>insert_title</li>
    </ol>
  </div>

  <div class="summary">
    <h1 class="heading-large">
      insert_title
    </h1>

    <p>
      insert_intro
    </p>
  </div>

  <div class="text">
    <h2 class="heading-medium">insert_title</h2>

    <p>insert_para</p>

  </div>

</main>

{% endblock %}
