{% extends "layout.html" %}

{% block page_title %}
Assistive Technology
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="box-highlight">
    <div class="box-highlight__title">Accessibility: requirements, background and approach</div>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/prototype01/">Content</a></li>
      <li>Assistive Technology</li>
    </ol>
  </div>

  <div class="summary">
    <h1 class="heading-large">
      Assistive Technology
    </h1>

    <div class="text">
      <p class="lede">
        Assistive technologies are any item, piece of equipment, software or hardware system that helps a person with disabilities to interact with computers.
      </p>
    </div>
  </div>

  <div class="text">
    <h2 class="heading-medium">Screen readers</h2>
    <p>Screen readers are software applications that read the text on a web page. Most screen readers can also read alternative (alt) text for images. If a web page includes accessibility features, a screen reader can usually provide the user with more information about the page – for example, by announcing heading levels or by reading all the links on the page.</p>

    <h2 class="heading-medium">Braille displays</h2>
    <p>These are hardware devices that provide tactile outputs that are generally set up to output from screen reader software, but instead of outputting through a speech synthesiser they output to a refreshable retractable Braille display or a fixed single line display. Braille displays are unable to output multimedia or graphics content and totally rely on the provision of appropriate text and text alternatives.</p>

    <h2 class="heading-medium">Screen magnifiers</h2>
    <p>Magnifiers or enlargers work by increasing the size of the image displayed on a screen. Navigation can be a problem as the user may only see a portion of the original screen at any one moment.</p>

    <h2 class="heading-medium">Speech recognition</h2>
    <p>These applications allow a user to give commands and enter data by talking to their computer – so the input device is a microphone rather than a keyboard. Such software contains a vocabulary and users need to train the software to recognise their individual voices.</p>

    <h2 class="heading-medium">Adaptive hardware and input devices</h2>
    <p>Users with a physical disability are more likely to struggle using the standard keyboard or mouse and may find it easier using ergonomic or specialised devices. Specialised keyboard and mouse designs are often referred to as assistive technology. Common technologies employed by physically disabled users are: alternative keyboards, on-screen keyboard emulators, mice, switches and pointing devices.</p>

    <h2 class="heading-medium">Speech enablement</h2>
    <p>This falls into two categories: first – applications that enable browsing of web content in audio. Combining text-to-speech technology they are generally limited to web browsing. This technology does not cope with multimedia or graphical content and therefore relies on the provision of appropriate text and alternative texts. Second – there is speech enablement as a channel, either client-based or served-based, intended as an option for users who have difficulties reading a website. This is a text-to-speech method that offers enhanced legibility for users with dyslexia, learning difficulties or with English as a second language.</p>

  </div>

</main>

{% endblock %}
