{% extends "layout.html" %}

{% block page_title %}
Benefits of making services accessible
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="box-highlight">
    <div class="box-highlight__title">Accessibility: requirements, background and approach</div>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/prototype01/">Content</a></li>
      <li>Benefits of making services accessible</li>
    </ol>
  </div>

  <div class="summary">
    <h1 class="heading-large">
      Benefits of making services accessible
    </h1>

    <div class="text">
      <p class="lede">
        In addition to the legal drivers, there are social, financial and technical incentives for accessibility.
      </p>
    </div>
  </div>

  <div class="text">
    <h2 class="heading-medium">Social factors</h2>
    <p>Public sector websites must address the needs of citizens throughout the country. An accessible website can provide access to information on a far wider scale than previously possible. Social incentives for accessibility include:</p>

    <ul class="list list-bullet">
      <li>Disabled people have easier access to printed, audio or visual material.</li>
      <li>Citizens can access services and information, regardless of experience or
    ability.</li>
      <li>Everyone will find the website easier to use, improving their ability to
    successfully complete goals online.</li>
      <li>People using all kinds of devices, from the oldest to the newest, will be
    able to use the website, helping to reduce the impact of the digital divide.</li>
      <li>Greater interaction between citizens and government is possible with a
    user friendly, accessible website.</li>
    </ul>

    <h2 class="heading-medium">Financial factors</h2>
    <p>A user friendly and accessible website can help reduce costs both directly and indirectly. Accessibility is often viewed as an expensive afterthought, but it can provide many cost benefits. The key is to build in accessibility from the outset, making inclusive design a priority throughout the development lifecycle of the website. Financial incentives for inclusive design include:</p>

    <ul class="list list-bullet">
      <li>Accessible web pages tend to be lighter (physically smaller) which reduces bandwidth costs and improves page response times – leading to an improved customer experience.</li>
      <li>Increasingly, people will be able to access services and information online, representing a reduction in costs needed for ancillary resources such as call centres.</li>
      <li>Ongoing maintenance and hosting costs can be significantly reduced.</li>
      <li>Providing one website that supports multiple audiences is more efficient
      than running multiple websites for multiple audiences.</li>
    </ul>

    <h2 class="heading-medium">Technical factors</h2>
    <p>Technical concerns vary throughout the different levels of government. The resources and technical capabilities of a district council may differ from those of a central government body. However, improving technical performance and delivering reliable digital services is important across the board. Technical incentives for inclusive design include:</p>

    <ul class="list list-bullet">
      <li>Following recognised standards and guidelines for web accessibility can help ensure that future technologies will be able to access the site.</li>
      <li>Compatibility with more browsers and technologies such as mobile.</li>
      <li>Access to a wide range of assistive technologies.</li>
      <li>Improved levels of traffic may be driven to the site through Search Engine
        Optimisation (SEO).</li>
    </ul>

  </div>

</main>

{% endblock %}
