{% extends "layout.html" %}

{% block page_title %}
Impairments to consider
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="box-highlight">
    <div class="box-highlight__title">Accessibility: requirements, background and approach</div>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/prototype01/">Content</a></li>
      <li>Impairments to consider</li>
    </ol>
  </div>

  <div class="summary">
    <h1 class="heading-large">
      Impairments to consider
    </h1>

    <div class="text">
      <p class="lede">
        There are four main categories of impairment to consider. These are vision impairment; motor difficulties; cognitive and learning; and deaf and hard of hearing.
      </p>
    </div>
  </div>

  <div class="text">

    <h2 class="heading-medium">Vision impairment</h2>
    <p><strong>Users with severe vision impairment</strong>, e.g. users of screen reader software. Screen reader users typically have issues with poorly labelled images, or links which don’t make sense when read out of context.</p>

    <p><strong>Users with medium vision impairment</strong>, e.g. users of magnification software. Magnification users are hindered by images of text (which become pixelated at high resolutions).</p>

    <p><strong>Users with mild vision impairment</strong>, e.g. users who might enlarge text in the browser with high contrast and use colour preferences.</p>

    <h2 class="heading-medium">Motor difficulties</h2>
    <p><strong>Users with severe motor difficulties</strong>, e.g. users who are quadriplegic who might use speech recognition software or switch access as an alternative to the keyboard or mouse.</p>

    <p><strong>Users with medium motor difficulties or upper limb disorder</strong>, e.g. users who might only use a keyboard, a mouse being too difficult to use. Keyboard users have issues with navigation or forms that don’t have a logical tab order.</p>

    <p><strong>Users with mild motor difficulties</strong>, e.g. users who might use a mouse or equivalent adaptive technology but who might have fine mouse control difficulties. Link size is an important issue for this group of users.</p>

    <h2 class="heading-medium">Cognitive and learning</h2>
    <p><strong>Users with medium dyslexia</strong>, e.g. users who might change site colours or text formatting, and who might supplement this with text to speech software for reading sections of text.</p>

    <p><strong>Users with mild to medium learning or cognitive disabilities</strong>, e.g. users who might use a symbol browser to convert web pages to symbols or have no special access methodologies and rely on someone else assisting them.</p>


    <h2 class="heading-medium">Deaf and hard of hearing</h2>
    <p><strong>British Sign Language (BSL)</strong> users who might experience problems with
      multimedia content or complex language.</p>

    <p><strong>Non-signing deaf or hard of hearing</strong>, e.g. users who might benefit from captions or transcripts of audio content.</p>

    <p>The above categorisation is purely for illustrative purposes. In reality, users may have a combination of impairments. For example, older users may have a combination of reduced vision, restricted mobility and decline in memory.</p>

    <h2 class="heading-medium">Older users</h2>
    <p>Older people can suffer from physical disabilities, such as a restricted ability to move their arms or hands. They might experience difficulty using a mouse.</p>

    <p>The performance of the eye diminishes with age and can lead to decreased visual acuity, contrast or colour sensitivity, reduced field of vision, or an increased sensitivity to glare. Older people that have such visual impairments tend to find it difficult to point to specific objects on the screen and click on small icons with the mouse.</p>

    <p>Older people that suffer from a reduced spatial ability and a decline in memory might find it difficult to navigate deep hierarchies of a web site.</p>
  </div>

</main>

{% endblock %}
