{% extends "layout.html" %}

{% block page_title %}
  Accessibility: requirements, background and approach
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="box-highlight">
    <h1 class="box-highlight__title">Accessibility: requirements, background and approach</h1>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li>Content</li>
    </ol>
  </div>

  <div class="summary">
    <p class="lede">
      Deliverying services that do not contain barriers for people that have disabilities
    </p>

    <p>
      <a href="/public/delivering-inclusive-websites_2009.pdf">Download all content as a PDF</a>
    </p>
  </div>

  <div class="section-list">

    <h2><a href="/prototype01/standard">Minimum standard of accessibility</a></h2>
    <p>The level of accessibility required for all content published on GOV.UK</p>

    <h2><a href="/prototype01/legal">Legal context</a></h2>
    <p>There is a legal requirement to not discrimate against people with disabilities</p>

    <h2><a href="/prototype01/benefits">Benefits of making services accessible</a></h2>
    <p>In addition to the legal drivers, there are social, financial and technical incentives for accessibility.</p>

    <h2><a href="/prototype01/measuring">Measuring accessibility</a></h2>
    <p>The only way to find out if a website is accessible is to test it.</p>

    <h2><a href="/prototype01/impairments">Impairments to consider</a></h2>
    <p>There are four main categories of impairment to consider. These are vision impairment; motor difficulties; cognitive and learning; and deaf and hard of hearing.</p>

    <h2><a href="/prototype01/at">Assistive Technology</a></h2>
    <p>Assistive technologies are any item, piece of equipment, software or hardware system that helps a person with disabilities to interact with computers. </p>

    <h2><a href="/prototype01/techniques">Solutions to problems that might be faced by people using your service</a></h2>
    <p>Some of the techniques that may be used to make your website more usable by a wider population</p>

    <h2><a href="/prototype01/procurement">Procurement</a></h2>
    <p>Accessible information technology (IT) is also required in public procurement contracts.</p>


    <!--
      What is accessibility?

      How accessible do government services need to be?

      Who's responsibility is accessibility?

      How to approach accessibility?
    -->

  </div>

</main>

{% endblock %}
