{% extends "layout.html" %}

{% block page_title %}
Legal context
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="box-highlight">
    <div class="box-highlight__title">Accessibility: requirements, background and approach</div>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/prototype01/">Content</a></li>
      <li>Legal context</li>
    </ol>
  </div>

  <div class="summary">
    <h1 class="heading-large">
      Legal context
    </h1>

    <div class="text">
      <p class="lede">
        There is a legal requirement to not discrimate against people with disabilities.
      </p>
    </div>
  </div>

  <div class="text">
    <h2 class="heading-medium">The relevant law in the UK</h2>
    <p>The Equality Act 2010 and the Disability Discrimination Act 1995 (DDA) make the fair treatment of disabled people a legal requirement. If an organization’s web product is impossible or unreasonably dif cult for a disabled person to access, that organization could be in breach of these laws. That exposes the organization to a risk of being sued for unlawful discrimination.</p>

    <p>The DDA applied across the UK until October 2010. It now applies in Northern Ireland only. In England, Wales and Scotland the DDA was replaced by the Equality Act.</p>

    <p>Each law places similar duties on the providers of web products. This Annex explains these duties.</p>

    <h2 class="heading-medium">What the legislation says</h2>

    <p>The Equality Act states that it will be indirect discrimination for a service provider to apply “a provision, criterion or practice” which is discriminatory in relation to a person’s disability.</p>
    <p>A provision, criterion or practice will be discriminatory if it puts disabled people at a disadvantage when compared to others unless the provider can show that it is “a proportionate means of achieving a legitimate aim.”</p>
    <p>It does not matter whether the service is free of charge or not. Offering a service on different terms to a disabled person can also be unlawful discrimination.</p>
    <p>The Equality Act includes a duty on service providers to make reasonable adjustments. This is divided into three requirements.</p>
    <p>First, where a provision, criterion or practice “puts a disabled person at a substantial disadvantage in relation to a relevant matter in comparison with persons who are not disabled, [the service provider is required] to take such steps as it is reasonable to have to take to avoid the disadvantage.”</p>
    <p>Second, “where a physical feature puts a disabled person at a substantial disadvantage in relation to a relevant matter in comparison with persons who are not disabled, [the service provider is required] to take such steps as it is reasonable to have to take to avoid the disadvantage.”</p>
    <p>Third, “where a disabled person would, but for the provision of an auxiliary aid, be put at a substantial disadvantage in relation to a relevant matter in comparison with persons who are not disabled, [the service provider is required] to take such steps as it is reasonable to have to take to provide the auxiliary aid.”</p>
    <p>The  rst and third requirements are relevant to web products. The Equality Act adds:</p>
    <p>“Where the  rst or third requirement relates to the provision of information, the steps which it is reasonable for [the service provider] to have to take include steps for ensuring that in the circumstances concerned the information is provided in an accessible format.”</p>
    <p>The Equality Act places separate duties on employers. It says that an employer must not discriminate against a person as to the terms on which that person is offered employment, or in the way the employer affords an employee access to opportunities for “training or for receiving any other bene t, facility or service”. It is also unlawful for an employer to discriminate against an employee “by subjecting [the employee] to any other detriment.” An employer has a duty to make reasonable adjustments.</p>
    <p>Education providers face similar requirements. For example, the Equality Act provides that schools and institutions of higher education must not discriminate against pupils and students in the way they provide education, in the way they afford pupils and students access to “a bene t, facility or service” or by subjecting the pupil or student to “any other detriment”. A duty to make reasonable adjustments applies to each responsible body.</p>

  </div>

</main>

{% endblock %}
