{% extends "layout.html" %}

{% block page_title %}
Procurement
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="box-highlight">
    <div class="box-highlight__title">Accessibility: requirements, background and approach</div>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/prototype01/">Content</a></li>
      <li>Procurement</li>
    </ol>
  </div>

  <div class="summary">
    <h1 class="heading-large">
      Procurement
    </h1>

    <div class="text">
      <p class="lede">
        Accessible information technology (IT) is also required in public procurement contracts.
      </p>
    </div>
  </div>

  <div class="text">
    <h2 class="heading-medium">Requirements</h2>

    <p>Fixing an inaccessible website after it has been completed can be difficult and costly and may not succeed in providing effective access. The best way to create an accessible website is to make sure that accessibility criteria are included throughout the project life cycle, starting with the procurement or commissioning stage.</p>

    <p>The Disability Discrimination Act creates the environment for anticipatory action and this approach is needed when a public sector department or agency buys software or systems for use by employees or the general public, as procurement is covered by the Disability Equality Duty.</p>

    <p>To help in the process of procuring accessible websites, the British Standards Institute and the Disability Rights Commission (DRC) collaborated to produce a Publicly Available Specification (PAS 78:2006) "Guide to good practice in commissioning accessible websites".</p>

    <p>PAS 78 provides guidance on the steps that should be taken to commission accessible websites, the guidelines and specifications to be adopted, and the role of software tools and user testing within the development life cycle. It is the reference point for good practice in website procurement.</p>

    <p>PAS 78 suggests that the following principles are followed when commissioning an accessible website:</p>

    <ul class="list list-bullet">
      <li>Uphold W3C guidelines and specifications</li>
      <li>Check for conformance</li>
      <li>Involve disabled people in the requirements gathering and conceptual
        design process</li>
      <li>Arrange regular testing by disabled people</li>
    </ul>

    <p>It is important to remember that websites require attention to accessibility throughout their life cycle – the job is not done as soon as the website is live. Maintenance and upgrades must also include accessibility criteria.</p>

    <h2 class="heading-medium">Software accessibility</h2>

    <p>In order to build an accessible website, authoring tools must produce content that upholds web content accessibility standards. This is especially important if the organisation will be using a content management system (CMS) to produce content automatically.</p>

    <p>So that content authoring is possible for people with the widest range of abilities, the interface to authoring tools must also be accessible. Accessibility criteria must therefore be specified in the procurement of these systems, in the same way that accessibility is taken into account when commissioning websites.</p>

    <p>The e-GIF specifications for accessibility and usability15 has adopted the W3C Authoring Tool Accessibility Guidelines16 for human-computer interfaces. When procuring web-based authoring tools including CMSs, public sector website owners should specify a minimum of Level Double-A conformance to these guidelines.</p>

    <p>For more general software accessibility requirements, it is recommended that organisations refer to ISO 1607117, the international standard on software accessibility.</p>

    <p>Where an authoring tool falls short of the minimum level required, this should be documented and the likely impact for users should be assessed.</p>
  </div>

</main>

{% endblock %}
